<%- include('partials/default_template.ejs'); %>
<div class="content">
  <div class="container-fluid">
    <!-- your content here -->
    <h1>Product Table</h1>
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#addProductModal">
      <i class="material-icons">add_circle</i>
      Add Product
    </button>
    <table class="table" id="productTable">
      <thead>
          <tr>
              <th class="text-left add-product-title-col">Book Title</th>
              <th class="text-left author-col">Author</th>
              <th class="text-center edit-col">Edit Product</th>
              <th class="text-center remove-col">Remove Product</th>
          </tr>
      </thead>
      <tbody>
        <% for (let i=0; i < product.length; i++){%>
          <tr>
              <td class="text-left"><%= product[i].item_name %></td>
              <td class="text-left"><%= product[i].item_author %></td>
              <td class="text-center">
                <button type="button" rel="tooltip" class="btn btn-info">
                  <i class="material-icons">more_vert</i>
                </button>
              </td>
              <td class="text-center">
                  <button type="button" rel="tooltip" class="btn btn-info" data-toggle="modal" data-target="#removeProductModal" data-id='<%= product[i].item_name %>'>
                      <i class="material-icons">delete</i>
                  </button>
              </td>
          </tr>
        <%}%>
      </tbody>
  </table>

  <!--MODAL FOR ADDING-->
  <div class="modal" tabindex="-1" role="dialog" id="addProductModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add a Product</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="addProductForm" type="POST">
            <div class="form-group">
              <label for="productNameLabel">Product Name</label>
              <br>
              <input type="text" class="form-control" id="productNameInput" placeholder="Enter product name">
            </div>
            <br>
            <div class="form-group">
              <label for="productDescLabel">Product Description</label>
              <br>
              <input type="text-area" class="form-control" id="productDescInput" placeholder="Enter product description">
            </div>
            <br>
            <div class="form-group">
              <label for="productAuthorLabel">Product Author</label>
              <br>
              <input type="text" class="form-control" id="productAuthorInput" placeholder="Enter product author">
            </div>
            <br>
            <div class="form-group">
              <label for="productVariantsLabel">Product Variants</label>
              <br>
              <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="softbound">
                    Softbound
                    <div class="row">
                      <div class="col">
                        <label for="softboundPriceLabel">Price:</label>
                        <input type="number" class="form-control" id="softboundPriceInput"placeholder="Enter price">
                      </div>
                      <div class="col">
                        <label for="softboundPriceLabel">Stock:</label>
                        <input type="number" class="form-control" id="softboundStockInput"placeholder="Enter stock">
                      </div>
                    </div>
                    <span class="form-check-sign">
                        <span class="check"></span>
                    </span>
                </label>
              </div>
              <br>
              <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="hardbound">
                    Hardbound
                    <div class="row">
                      <div class="col">
                        <label for="hardboundPriceLabel">Price:</label>
                        <input type="number" class="form-control" id="hardboundPriceInput"placeholder="Enter price">
                      </div>
                      <div class="col">
                        <label for="hardboundPriceLabel">Stock:</label>
                        <input type="number" class="form-control" id="hardboundStockInput"placeholder="Enter stock">
                      </div>
                    </div>
                    <span class="form-check-sign">
                        <span class="check"></span>
                    </span>
                </label>
              </div>
              <br>
              <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="jacketed">
                    Jacketed
                    <div class="row">
                      <div class="col">
                        <label for="jacketedPriceLabel">Price:</label>
                        <input type="number" class="form-control" id="jacketedPriceInput"placeholder="Enter price">
                      </div>
                      <div class="col">
                        <label for="jacketedPriceLabel">Stock:</label>
                        <input type="number" class="form-control" id="jacketedStockInput"placeholder="Enter stock">
                      </div>
                    </div>
                    <span class="form-check-sign">
                        <span class="check"></span>
                    </span>
                </label>
              </div>
              <br>
              <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="pocket">
                    Pocket
                    <div class="row">
                      <div class="col">
                        <label for="pocketPriceLabel">Price:</label>
                        <input type="number" class="form-control" id="pocketPriceInput"placeholder="Enter price">
                      </div>
                      <div class="col">
                        <label for="pocketPriceLabel">Stock:</label>
                        <input type="number" class="form-control" id="pocketStockInput"placeholder="Enter Stock">
                      </div>
                    </div>
                    <span class="form-check-sign">
                        <span class="check"></span>
                    </span>
                </label>
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" id="addProductBtn">Add product</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </form>
      </div>
    </div>
  </div>

  <!--MODAL FOR DELETING-->
  <div class="modal" tabindex="-1" role="dialog" id="removeProductModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id="removePrototype" style="display:none">
            <div class="variant-div row">
              <div class="col">
                <span class="variant-name-span"></span>
              </div>
              <div class="col text-right">
                <span class="variant-name-span" style="display:none"></span>
                <button id="finalRemoveVariantBtn" class="btn btn-danger">Remove</button>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>






  </div>
</div>
<%- include('partials/footer.ejs'); %>
</div> <!--Closing div-->
</body>
</html>
<script src="/assets/js/pages/product_table.js" type="text/javascript"></script>
<script src="/assets/js/pages/adding_product.js" type="text/javascript"></script>
<script src="/assets/js/pages/remove-product.js" type="text/javascript"></script>