<%- include('partials/default_template.ejs'); %>
<div class="content">
  <div class="container-fluid">
    <!-- your content here -->
    <div class = "row">
        <div class = "col-md shadow-sm p-3 mb-5 bg-white rounded border border-light">
            <h1>Add Transactions</h1>
            <table class="table table-hover table-striped" id="productTable">
                <thead class = "thead-dark">
                    <tr>
                        <th class="text-center product-col">Book Title</th>
                        <th class="text-left subtotal-col">Price</th>
                        <th class="text-left subtotal-col">Variant</th>
                        <th class="text-center add-col">Add to Cart</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <% for (let i=0; i < product.length; i++){%>
                            <tr id>
                                <td class="text-left product-name"><%= product[i].item_name %></td>
                                <td class="text-left product-price"><%= parseFloat(product[i].item_price).toFixed(2) %></td>
                                <td class="text-left product-variant"><%= (product[i].variant_name).charAt(0).toUpperCase() + (product[i].variant_name).substr(1).toLowerCase() %></td>
                                <td class="text-center product-click">
                                    <form class = "product-form" method = "POST" action = "/add_cart/item_id=<%=product[i].item_id%>&variant_id=<%= product[i].variant_id%>">
                                    <button type="submit" class="btn btn-info insertTransaction" id = "<%= product[i].item_id%>">
                                        <i class="fas fa-arrow-circle-right"></i>
                                    </button>
                                    </form>
                                </td>
                            </tr>
                    <%}%> -->
                </tbody>
            </table>
        </div>
    </div>
  </div>
</div>
<%- include('partials/footer.ejs'); %>
</div> <!--Closing div-->
</body>
</html>