<%- include('partials/default_template.ejs'); %>
<div class="content">
  <div class="container-fluid">
    <!-- your content here -->
    <h1>Transaction Table</h1>
    <div class = "row">
      <div class = "col-md">
        <table class="table" id="transactionTable">
          <thead>
              <tr>
                <th class="user-col col">User</th>
                <th class="date-col col">Date</th>
                <th class="details-col col">Details</th>
              </tr>
          </thead>
          <tbody>
            <% for (let i = 0; i < transactions.length; i++){%>
              <tr >
                <th class = "user" scope="row"><%= transactions[i].username %></th>
                <td class = "datetime"><%= transactions[i].order_date %></td>
                <td class = "detail-icon"><button id = "<%= transactions[i].order_id %>" type="button" class="btn shadow-none viewDetails <%= transactions[i].account_id %>" onclick = "toggle()">
                  <i class="fas fa-info-circle"></i>
                </button></td>
              </tr>
              <br>
            <%}%>
          </tbody>
        </table>
      </div>
      <div class = "col-md ml-3 p-3 border shadow-sm">
        <h3>Transaction Details</h3>
        <hr>
        <span>Account Number: <span id = "user-id"></span></span>
        <br>
        <span>Account Name: <h5 id = "user-name"></h5></span>
        <br>
        <span>Date of Transaction: <span id = "date"></span></span>
        <br>
      </div>
    </div>
    

  


  <!-- MODAL FOR VIEWING DETAILS -->
  
  </div>
</div>
<%- include('partials/footer.ejs'); %>
</div> <!--Closing div-->
</body>
</html>
<script src="/assets/js/pages/transaction_table.js" type="text/javascript"></script>
<script src="/assets/js/pages/show_tran.js" type="text/javascript"></script>